// ================> PARTIALS

@import "setup";
@import "vars";
@import "mixin";

// ================> TYPOGRAPHY / GENERAL

html {
    // @include baseFont();
    background-color: $offWhite;
}

body {
    @include baseFont();
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

h1, h2, h3, h4 {
    font-family: $headingFont;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

// ================> NAV

nav {
    background-color: black;
    height: 12vh;
    padding: 1rem 0;
}

.blogNav {
    display: flex;
}

.blogNav a {
    color: white;
    padding-right: 2.1rem;
    font-family: $headingFont;
}

.logo {
    font-size: 2.1rem;
}

.blogNavLinks {
    display: flex;
}

.blogNavLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogNavLinks a {
    text-transform: uppercase;
}

.blogNavLinks a:hover {
    color: $yellow;
}

// ================> HEADER

header {
    background-image: url($blogHeader);
    background-position: top left;
    height: calc(85vh - 12vh);

    h1 {
        @include boldHeading (4rem, 1px, 4.6rem);
        color: $yellow;
        margin: 0;
        padding-top: 45vh;
    }
}

// ================> MAIN and ASIDE

.mainAsideFlex {
    display: flex;
}

// ================> ASIDE

aside {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 65vw);
    position: relative;
    top: 6rem;

        .sideBarImg {
            border-right: 1rem solid white;
        }

        .sideBarImg img {
            width: 23.4rem;
            height: 18rem;
            position: relative;
            top: -1rem;
        }
}

.sideBarText {
    background-color: white;
    margin: -.2rem 0 0 4rem;
    padding: 1rem;
    position: relative;
    top: -1rem;

        h4 {
            @include boldHeading(1rem, 1px, 1.6rem);
            margin: 1rem 0;
        }

        .asideMore {
            color: $forestGreen;
            font-style: italic;
            font-weight: bold;
        }

        .aboutPlanted {
            margin-bottom: 4rem;
        }

        p {
            margin: 0;
        }

        .recentPosts li::before {
            content: "•  ";
            color: $green;
        }
}

// ================> MAIN

main {
    width: calc(100vw - 35vw);
    margin-left: 4rem;
}

.missionContainer {
    flex-direction: column;
    margin-top: -12rem;

    .missionImg img {
        box-shadow: -1rem 1rem 1px $yellow;
    }

    .missionTextBorder {
        width: 95%;
        border-bottom: .25rem solid $yellow;
        border-left: .25rem solid $yellow;
        position: relative;
        left: -1rem;
        top: -.5rem;
    }

    .missionText {
        padding: 2rem 1rem;
    
            h2 {
                @include boldHeading (2.15rem, 1.3px, 1.6rem);
                margin: 2rem 0 1rem 0;
            }
    
            .publishingTime {
                font-style: italic;
                color: $forestGreen;
                margin: 0 0 3rem 0;
            
                .writerName {
                    font-weight: bold;
                }
            }
    }
}

// ================> COMMENTS SECTION

.commentsContainer {
    display: flex;
    width: 95%;
    flex-direction: column;

    .jeremy,
    .julia {
        display: flex;
        margin: 2.5rem 0 5rem 0;
        
            p {
                margin: 0;
            }
    
            img {
                width: 4rem;
                height: 4rem;
            }
    
            .jeremysComment,
            .juliasComment {
                margin-left: 1rem;
            }
    
            .commentTime {
                @include boldHeading(1rem, 1px, 1.6rem);
                color: $forestGreen;
                margin-bottom: .5rem;
            }
    }
}      

// ================> COMMENT FORM

.formContainer {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    
        .userInfo {
            display: flex;
            margin-bottom: 2rem;
            

            input {
                width: 50%;
                height: 2rem;
                padding: 1.5rem;
                border: none;
                border-bottom: 2px solid $green;
                background-color: $offWhite;
            }

            input[type=name] {
                margin-right: 1rem;
            }
        }

        textarea {
            height: 13rem;
            background-color: $offWhite;
            border: 2px solid $green;
            resize: none;
            margin-bottom: 2rem;
            padding: 1.5rem;
        }
        
        button {
            background-color: $green;
            font-family: $headingFont;
            color: white;
            border: none;
            padding: 0.5rem 1rem;
        }

        input::placeholder,
        textarea::placeholder {
            font-family: $headingFont;
        }
}

// ================> FOOTER

footer {
    background: $black;
    text-align: center;
    margin-top: 2rem;

        p {
            margin: 0;
            padding: 0.5rem 0;
            color: $offWhite;
        }
}

// ================> MEDIA QUERIES <================

@media (max-width: 1000px) {
    .missionContainer {
        .missionText h2 {
            @include boldHeading (2rem, 1px, inherit);
        }
    }

    .sideBarText {
        margin: 0;
    }
}

// ================> 768px

@media (max-width: 768px) {
    nav {
        height: inherit;
    }

    .blogNav {
        flex-direction: column;
        justify-content: space-between;
        padding-top: 1rem;

        a {
            text-align: center;
            padding: 0 .75rem;
        }
    }

    .blogNavLinks {
        margin: 1rem auto;
    }
    
    header h1 {
        padding-top: 45%;
        text-align: center;
    }

    .mainAsideFlex {
        flex-direction: column;

        main {
            width: 100%;
            margin-left: 0;
            order: 1;
        }

        aside {
            width: 85%;
            margin: 2rem auto;
            order: 2;
            top: 0;

            .sideBarImg img {
                width: 100%;
            }
        }
    }

    .missionContainer {
        width: 85%;
        margin: 2rem;

        .publishingTime {
            margin: 0;
        }
    }

    .commentsContainer {
        h3 {
            margin: 0;
            text-align: center;
        }

        .jeremy,
        .julia {
            flex-direction: column;
            margin: 1rem 0;
            
                img {
                    margin: 2rem auto;
                }
    
        
                .commentTime {
                    letter-spacing: inherit;
                }
        }
    }

    .formContainer {
        padding: 1.5rem;
        .userInfo {
            flex-direction: column;

            input {
                width: 100%;
            }
        }
    }
}

// ================> 480px

@media (max-width: 480px) {
    .blogNavLinks {
        margin: 0.75rem 0 0 0;
    }
    
    .blogNavLinks a {
        font-size: 0.9rem;
        padding: .5rem auto;
    }
    .missionContainer {
        .missionText {
            h2{
                text-align: center;
            }
            
            .publishingTime {
                margin: 0;
            }
        }
    }
}