@import "setup";
@import "vars";
@import "mixin";

html {
    @include baseFont();
    background-color: $offWhite;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

h1, h2, h3, h4 {
    font-family: $headingFont;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

// ================> NAV

nav {
    background-color: black;
    height: 12vh;
    padding: 1rem 0;
}

.blogNav {
    display: flex;
}

.blogNav a {
    color: white;
    padding-right: 2.1rem;
    font-family: $headingFont;
}

.logo {
    font-size: 2.1rem;
}

.blogNavLinks {
    display: flex;
}

.blogNavLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogNavLinks a {
    text-transform: uppercase;
}

.blogNavLinks a:hover {
    color: $yellow;
}

// ================> HEADER
header {
    background-image: url($blogHeader);
    background-position: center;
    height: calc(85vh - 12vh);
}

h1 {
    @include boldHeading (4rem, 1px, 4.6rem);
    color: $yellow;
    margin: 0;
    padding-top: 45vh;
}

.mainAsideFlex {
    display: flex;
}

// ================> MAIN
main {
    width: calc(100vw - 35vw);
    margin-left: 1rem;
}
.missionImg {
    position: relative;
}

.missionImg img {
    position: absolute;
    right: 0;
}
.missionContainer {
    border-left: .5rem solid $yellow;
    border-bottom: .5rem solid $yellow;
}
// ================> ASIDE

aside {
    width: calc(100vw - 65vw);
    margin-right: 1rem;
}

// ================> FOOTER
footer {
    background: $black;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 0.5rem 0;
    color: $offWhite;
}