// ================> PARTIALS

@import "setup";
@import "vars";
@import "mixin";

// ================> TYPOGRAPHY / GENERAL

html {
    @include baseFont();
    background-color: $offWhite;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

h1, h2, h3, h4 {
    font-family: $headingFont;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

// ================> NAV

nav {
    background-color: black;
    height: 12vh;
    padding: 1rem 0;
}

.contactNav {
    display: flex;
}

.contactNav a {
    color: white;
    padding-right: 2.1rem;
    font-family: $headingFont;
}

.logo {
    font-size: 2.1rem;
}

.contactNavLinks {
    display: flex;
}

.contactNavLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactNavLinks a {
    text-transform: uppercase;
}

.contactNavLinks a:hover {
    color: $yellow;
}

// ================> HEADER

header {
    background-image: url($contactHeader);
    background-position: center;
    height: calc(75vh - 12vh);
}

header h1 {
    @include boldHeading(4rem, 1px, 4.6rem);
    color: $yellow;
    margin: 0;
    padding-top: 30vh;
}

.lineBreak {
    display: block;
}

// ================> MAIN

.mainAsideFlex {
    display: flex;
    flex: 1 0 auto;
    height: 20rem;

        main {
            width: 70%;
        }
        
        aside {
            width: 30%;
            margin: 9rem 2rem 9rem 0;
        }
}

.socialMedia ul {
    display: flex;

        a {
            color: $green;
            padding-right: 1.5rem;
        }
}

.contactAndAddress {

        .email {
            @include boldHeading (1.2rem, 1px, 1.6rem);
            margin: 0.5rem 0;
        }

        .email ~ p {
            margin: 0;
            line-height: 1.5rem;
        }
}

.commentContainer {
    display: flex;
    flex-direction: column;
    box-shadow: -1rem 1rem 1px $yellow;
    background-color: white;
    padding: 4rem 3rem;
    position: relative;
    right: 0;
    top: -12rem;

    .userInfo {
        display: flex;
        margin-bottom: 2rem;

        input {
            width: 50%;
            height: 2rem;
            padding: 1rem;
            border: none;
            border-bottom: 2px solid $green;
        }

        input[type=name] {
            margin-right: 1rem;
        }
    }

    textarea {
        width: 100%;
        height: 13rem;
        resize: none;
        border: 2px solid $green;
        margin-bottom: 2rem;
        padding: 1rem;
    }

    button {
        background-color: $green;
        font-family: $headingFont;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
    }
}

input::placeholder,
textarea::placeholder {
    font-family: $bodyFont;
}

// ================> FOOTER

footer {
    background: $black;
    text-align: center;
    margin-top: 9rem;

        p {
            margin: 0;
            padding: 0.5rem 0;
            color: $offWhite;
        }
}

// ================> MEDIA QUERIES <================
@media (max-width: 768px) {
    nav {
        height: inherit;
    }

    .contactNav {
        flex-direction: column;
        justify-content: space-between;
        padding-top: 1rem;

        a {
            text-align: center;
            padding: 0 .75rem;
        }
    }

    .contactNavLinks {
        margin: 2rem auto;
    }

    header {
        background-size: cover;
        height: 100vh;

        h1 {
            text-align: center;
            padding-top: 45%;
        }
    }
    
    .mainAsideFlex {
        flex-direction: column;
        height: 100%;

        main {
            width: 100%;
            order: 1;
        }

        aside {
            width: 100%;
            margin: 2rem 0;
            text-align: center;
            order: 2;
        }
    }

    .socialMedia ul {
        width: 50%;
        margin: 2rem auto;
        justify-content: space-between;

        a {
            padding-right: 0;
        }
    }

    .commentContainer {
        top: 0;
        padding: 2rem;
        margin: 2rem 1rem;

        .userInfo {
            flex-direction: column;

            input {
                width: 100%;
                margin-bottom: 1rem;
            }
        }
    }

    footer {
        margin-top: 2rem;
    }
}