@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 125%;
  background-color: #f0EFED;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

h1, h2, h3, h4 {
  font-family: "Josefin Sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

nav {
  background-color: black;
  height: 12vh;
  padding: 1rem 0;
}

.blogNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogNav a {
  color: white;
  padding-right: 2.1rem;
  font-family: "Josefin Sans", sans-serif;
}

.logo {
  font-size: 2.1rem;
}

.blogNavLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogNavLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogNavLinks a {
  text-transform: uppercase;
}

.blogNavLinks a:hover {
  color: #F8E71C;
}

.blogHamburgerMenu {
  display: none;
}

header {
  background-image: url("../assets/blog-header-1.jpg");
  background-position: top left;
  height: calc(85vh - 12vh);
}
header h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 1px;
  line-height: 4.6rem;
  color: #F8E71C;
  margin: 0;
  padding-top: 45vh;
}

.mainAsideFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100vw - 65vw);
  position: relative;
  top: 6rem;
}
aside .sideBarImg {
  border-right: 1rem solid white;
}
aside .sideBarImg img {
  width: 23.4rem;
  height: 18rem;
  position: relative;
  top: -1rem;
}

.sideBarText {
  background-color: white;
  margin: -0.2rem 0 0 4rem;
  padding: 1rem;
  position: relative;
  top: -1rem;
}
.sideBarText h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
  margin: 1rem 0;
}
.sideBarText .asideMore {
  color: #074115;
  font-style: italic;
  font-weight: bold;
}
.sideBarText .aboutPlanted {
  margin-bottom: 4rem;
}
.sideBarText p {
  margin: 0;
}
.sideBarText .recentPosts li::before {
  content: "•  ";
  color: #0E902D;
}

main {
  width: calc(100vw - 35vw);
  margin-left: 4rem;
}

.missionContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -12rem;
}
.missionContainer .missionImg img {
  -webkit-box-shadow: -1rem 1rem 1px #F8E71C;
          box-shadow: -1rem 1rem 1px #F8E71C;
}
.missionContainer .missionTextBorder {
  width: 95%;
  border-bottom: 0.25rem solid #F8E71C;
  border-left: 0.25rem solid #F8E71C;
  position: relative;
  left: -1rem;
  top: -0.5rem;
}
.missionContainer .missionText {
  padding: 2rem 1rem;
}
.missionContainer .missionText h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 2.15rem;
  letter-spacing: 1.3px;
  line-height: 1.6rem;
  margin: 2rem 0 1rem 0;
}
.missionContainer .missionText .publishingTime {
  font-style: italic;
  color: #074115;
  margin: 0 0 3rem 0;
}
.missionContainer .missionText .publishingTime .writerName {
  font-weight: bold;
}

.commentsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.commentsContainer .jeremy,
.commentsContainer .julia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.5rem 0 5rem 0;
}
.commentsContainer .jeremy p,
.commentsContainer .julia p {
  margin: 0;
}
.commentsContainer .jeremy img,
.commentsContainer .julia img {
  width: 4rem;
  height: 4rem;
}
.commentsContainer .jeremy .jeremysComment,
.commentsContainer .jeremy .juliasComment,
.commentsContainer .julia .jeremysComment,
.commentsContainer .julia .juliasComment {
  margin-left: 1rem;
}
.commentsContainer .jeremy .commentTime,
.commentsContainer .julia .commentTime {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
  color: #074115;
  margin-bottom: 0.5rem;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
}
.formContainer .userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}
.formContainer .userInfo input {
  width: 50%;
  height: 2rem;
  padding: 1.5rem;
  border: none;
  border-bottom: 2px solid #0E902D;
  background-color: #f0EFED;
}
.formContainer .userInfo input[type=name] {
  margin-right: 1rem;
}
.formContainer textarea {
  height: 13rem;
  background-color: #f0EFED;
  border: 2px solid #0E902D;
  resize: none;
  margin-bottom: 2rem;
  padding: 1.5rem;
}
.formContainer button {
  background-color: #0E902D;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
}
.formContainer input::-webkit-input-placeholder, .formContainer textarea::-webkit-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
}
.formContainer input::-moz-placeholder, .formContainer textarea::-moz-placeholder {
  font-family: "Josefin Sans", sans-serif;
}
.formContainer input:-ms-input-placeholder, .formContainer textarea:-ms-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
}
.formContainer input::-ms-input-placeholder, .formContainer textarea::-ms-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
}
.formContainer input::placeholder,
.formContainer textarea::placeholder {
  font-family: "Josefin Sans", sans-serif;
}

footer {
  background: #2C2C2C;
  text-align: center;
  margin-top: 2rem;
}
footer p {
  margin: 0;
  padding: 0.5rem 0;
  color: #f0EFED;
}

@media (max-width: 480px) {
  .blogNav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 1rem;
  }

  .blogNavLinks {
    display: none;
  }

  .blogHamburgerMenu {
    display: block;
    color: white;
  }

  header h1 {
    padding-top: 30vh;
    text-align: center;
  }

  .mainAsideFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainAsideFlex main {
    width: 100%;
    margin-left: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .mainAsideFlex aside {
    width: 85%;
    margin: 2rem auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    top: 0;
  }
  .mainAsideFlex aside .sideBarImg img {
    width: 100%;
  }

  .sideBarText {
    margin-left: 0;
  }

  .missionContainer {
    width: 85%;
    margin: 2rem;
  }
  .missionContainer .missionText h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: inherit;
    text-align: center;
  }
  .missionContainer .publishingTime {
    margin: 0;
  }

  .commentsContainer h3 {
    margin: 0;
    text-align: center;
  }
  .commentsContainer .jeremy,
.commentsContainer .julia {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem 0;
  }
  .commentsContainer .jeremy img,
.commentsContainer .julia img {
    margin: 2rem auto;
  }
  .commentsContainer .jeremy .commentTime,
.commentsContainer .julia .commentTime {
    letter-spacing: inherit;
  }

  .formContainer {
    padding: 1.5rem;
  }
  .formContainer .userInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formContainer .userInfo input {
    width: 100%;
  }
}